body, html{
	width: 100%;
	height: 100%;
}

html,body,div,span,ul,li,img {
	border: none;
	padding: 0;
	margin: 0
}

ul {
	list-style: none
}
.sliderh5 {
	display: none
}

.focush5 span {
	width: 10px;
	height: 10px;
	margin-right: 10px;
	border-radius: 50%;
	background: #666;
	font-size: 0
}

.focush5 span.current {
	background: #fff
}